<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.minglg.interview.auth.mapper.PermissionMapper">

    <resultMap id="permissionMap" type="cn.minglg.interview.auth.pojo.Permission">
        <id property="permissionId" column="permission_id"/>
        <result property="permissionCode" column="permission_code"/>
        <result property="description" column="description"/>
    </resultMap>

    <select id="getPermissionListByRoleId" resultMap="permissionMap">
        SELECT tp.*
        FROM t_permission tp
                 JOIN t_role_permission trp ON tp.permission_id = trp.permission_id
        WHERE trp.role_id = #{roleId}
    </select>
</mapper>