<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.minglg.interview.auth.mapper.CompanyMapper">

    <resultMap id="companyMap" type="cn.minglg.interview.auth.pojo.Company">
        <id property="companyId" column="company_id"/>
        <result property="companyName" column="company_name"/>
    </resultMap>

    <select id="getCompanyByUserId" resultMap="companyMap">
        SELECT tc.*
        FROM t_company tc
                 JOIN t_user_company tuc ON tc.company_id = tuc.company_id
        WHERE tuc.user_id = #{userId}
    </select>

    <insert id="upsertCompany" parameterType="cn.minglg.interview.auth.pojo.Company" useGeneratedKeys="true"
            keyProperty="company.companyId">
        INSERT INTO t_company (company_name)
        VALUES (#{company.companyName})
        ON DUPLICATE KEY UPDATE company_id = LAST_INSERT_ID(company_id)
    </insert>


</mapper>